{% include "header.html" %}

<main id="main" class="main">


    <section class="section">
        <div class="d-flex justify-content-between" style="margin: 2rem;">
        <a href="{{ url_for('add_blog') }}" class="btn btn-primary my-1 float-right">Add Blog</a>
        </div>
      <div class="row">

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h1 class="heading">Water Boottles are harmful</h1>
                  <p class="small fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ex fugiat placeat iste officiis eos minima! Neque iste itaque molestias exercitationem a, incidunt in quos error illo! Consectetur, error blanditiis?Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, id expedita. Perspiciatis pariatur aperiam voluptate nisi maiores doloribus quasi laboriosam corporis, possimus exercitationem, laborum est alias mollitia quia. Voluptatibus, nulla.<a href="">...Read more</a></p>
                </div>
            </div>
          </div>
        </div>
        {% for post in all_posts: %}
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body pt-3">
                <div class="tab-content pt-2">
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <h1 class="heading">{{ post.title }}</h1>
                    <h2 class="subheading">{{post.subtitle}}</h2>
                    <p class="small fst-italic">{{ post.body[:5]|safe }}<a href="{{ url_for('show_post', post_id=post.id) }}">...Read more</a></p>
                  </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

  </main><!-- End #main -->


{% include "footer.html" %}