{% include "header.html" %}

  <main id="main" class="main">

    <section class="section">
      <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Highest Sixes by players from each team</h5>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Name</th>
                    <th scope="col">Sixes</th>
                  </tr>
                </thead>
                <tbody>
                    {% for player in players: %}
                      <tr>
                        <td>{{ player["team"] }}</td>
                        <td>{{ player["name"] }}</td>
                        <td>{{ player["sixes"] }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="section">
      <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Highest Fours by players from each team</h5>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Name</th>
                    <th scope="col">Fours</th>
                  </tr>
                </thead>
                <tbody>
                    {% for player in players1: %}
                      <tr>
                        <td>{{ player["team"] }}</td>
                        <td>{{ player["name"] }}</td>
                        <td>{{ player["fours"] }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

            </div>
          </div>

        </div>
      </div>
    </section>    


  </main><!-- End #main -->

{% include "footer.html" %}