{% include "header.html" %}
<style>
  body{
    overflow-x: hidden;
  }
</style>

  <main id="main" class="main">

 
    <!-- End Page Title -->
<br>

            <div class="container  d-flex align-items-center justify-content-center">
              <div class="row ">
                  <div class="col-lg-7 px-3" data-aos="fade-left"  data-aos-easing="ease-in-sine" data-aos-delay="100"><img class="img1 mx-4 h-100 overflow-hidden rounded-4" src="static/img/why.png" style="max-width: 60%;" alt=""></div>
              
                  <div class="imgc col" data-aos="fade-right"  data-aos-easing="ease-in-sine" data-aos-delay="100"><h2>What is Systainable Environment?</h2><br>
                     <p>A sustainable environment is one that meets the needs of the present without compromising the ability of future generations to meet their own needs. It is a way of living that is in harmony with nature, where resources are used wisely and waste is reduced, reused, or recycled.
                      Sustainability requires a holistic approach that considers the impacts of our actions on the environment, society, and economy. It involves making decisions that balance short-term needs with long-term goals and that consider the interests of all stakeholders.</h5>
                     </p></div>  
               </div>   
             </div>        
   <br>   <hr>       
      <div class="container  d-flex align-items-center justify-content-center">
              <div class="row">
                  
                  <div data-aos="fade-right"  data-aos-easing="ease-in-sine" data-aos-delay="100" class="imgc col" ><h2>The Impact of Sustainable Living</h2><br>
                     <p>Sustainable living can have a positive impact on the environment, society, and economy. It can reduce our environmental footprint, conserve resources, and help to protect biodiversity. It can also promote social justice and economic development, creating a more equitable and prosperous world.
                      By making small changes to our daily habits and lifestyle, we can make a big difference. By supporting sustainable businesses and investing in renewable energy, we can help to create a more sustainable future for all.</p>
                  </div>   
                  <div class="col"><img data-aos="fade-left"  data-aos-easing="ease-in-sine" data-aos-delay="100" class="img2 mx-4 h-100 overflow-hidden rounded-4 " src="static/img/impact.png"  style="max-width: 60%;" alt=""></div>
              </div>
      </div>
  <br><hr>
      <div class="container  d-flex align-items-center justify-content-center">
        <div class="row ">
            <div class="col-lg-7 px-3" data-aos="fade-right"  data-aos-easing="ease-in-sine" data-aos-delay="100"><img class="img1 mx-4 h-100 overflow-hidden rounded-4 " src="static/img/benifits.png"  style="max-width: 60%;" alt=""></div>
        
            <div class="imgc col" data-aos="fade-left"  data-aos-easing="ease-in-sine" data-aos-delay="100"><h2> The Benefits of Sustainable Products </h2><br>
               <p>Sustainable products can have a positive impact on the environment. By reducing energy consumption and waste, sustainable products can help reduce greenhouse gas emissions and conserve natural resources. Sustainable products can also help reduce pollution and help protect ecosystems.
                Sustainable products can also help create jobs and stimulate economic growth. By promoting the use of sustainable products, businesses can create new jobs and generate revenue. Additionally, sustainable products can help create a more sustainable economy by reducing the amount of resources needed to produce goods and services.</p></div>  
         </div>   
  </div>  
<br><hr>
  <div class="container  d-flex align-items-center justify-content-center">
    <div class="row">
        
        <div data-aos="fade-right"  data-aos-easing="ease-in-sine" data-aos-delay="100" class="imgc col" ><h2>What You Can Do?</h2><br>
           <p>There are many ways to reduce your environmental impact and support sustainable products. Look for products that are made from recycled materials, use renewable energy, and are energy efficient. Additionally, you can support businesses that use sustainable practices and encourage others to do the same.
            You can also reduce your waste by reusing and recycling items. This will help reduce the amount of resources needed to produce new products and reduce the amount of waste that ends up in landfills. Finally, you can support organizations that are working to promote the use of sustainable products and practices.</p></div>      
        <div class="col"><img data-aos="fade-left"  data-aos-easing="ease-in-sine" data-aos-delay="100" class="img2 mx-4 h-100 overflow-hidden rounded-4 " src="static/img/youcando.png"  style="max-width: 60%;" alt=""></div>
    </div>
</div>

            
          
  </main><!-- End #main -->


{% include "footer.html" %}