{% include "header.html" %}

  <main id="main" class="main">

    <section class="section">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <h1 style="color: red;">{{ message }}</h1>
            {% endfor %}
        {% endif %}
        {% endwith %}
      
      <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Previous Records</h5>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Team</th>
                    <th scope="col">Played</th>
                    <th scope="col">Won</th>
                    <th scope="col">Lost</th>
                    <th scope="col">Points</th>
                    <th scope="col">NRR</th>
                    {% if is_logged: %}
                      <th scope="col">Edit</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>CSK</td>
                    <td>8</td>
                    <td>4</td>
                    <td>4</td>
                    <td>8</td>
                    <td>1.452</td>
                    <td><a href="" class="btn btn-primary">Edit</a></td>
                  </tr>
                    {% for query in queries: %}
                      <tr>
                        <th scope="row">{{ query["s.no"] }}</th>
                        <td>{{ query["query"] }}</td>
                        <td>{{ query["result"] }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}